{
    auto_https off
}

http://{$AUTHENTIK_HOST} {
    reverse_proxy authentik-server:9000
}

http://{$PAPERLESS_HOST} {
    reverse_proxy paperless:8000
}

http://{$OUTLINE_HOST} {
    reverse_proxy outline:3000
}

http://{$STATIC_HOST} {
    reverse_proxy static-site:8080
}
